    <div id="frame">
        <div id="banner">
            <a href="index.php"><img src="../img/mymdb.png" alt="banner logo" ></a>
            My Movie Database
        </div>
        
        <!-- uncomment below if you want to try to add login/logout -->
        <!--
        <div id="logout">
            <input type="submit" value="Log out" id="sumbitLogout">
        </div>
        -->
        
        <div id="main">
            <!-- your HTML output follows -->
