body {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 60%; 
}

h1 {
  margin: 0em;
  text-align: center;
}

.logo {
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 80%; 
}

.logo img {
  height: 63px;
  vertical-align: middle;
  width: 69px;
}