/*

*/
body {
    margin : auto;
    font-family: Verdana, sans-serif;
    background-color: #dad9d4;
}
#frame {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    box-shadow:  10px  10px 5px dimgrey, 
                -10px -10px 5px dimgrey,
                 10px -10px 5px dimgrey,
                -10px  10px 5px dimgrey;
}
#banner, #w3c {
    background-image: url("../img/banner-background.png");
    color: white;
    padding: 1em;
}
#main {
    text-align: center;
    padding: 1em;
    clear:both;
}
form {
    width: 24em;
    margin: auto;
    margin-bottom: 1em;
}
table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #dad9d4;
    margin-bottom: 1em;
}
tbody tr:nth-child(even) {
   background-color: #dad9d4;
}
#logout{
    float: right;
    width: 80px;
}
.ext {
    width: 10%;
    text-align: center;
}
p {
    text-align: center;
}
#errMsg {  
  background-color: #ffffcc;
  border: 1px dotted #ccccaa;
  margin: 0.5em;
  padding: 0.5em;
}