body { margin: 20px; }

.container { 
  width: 500px;
  text-align: center;
}

h1 { 
  height: 60px; 
  padding: 0;
  margin: 0;
}

  p { display: inline-block; }
  .font-size-label { margin-right: 20px; }
  #font-size { margin: 0 5px; }
  button { 
    width: 30px;
    height: 30px;
  }

