
  <div id="footer">
    <p>
    <a href="http://validator.w3.org/check/referer"> 
    <img width="88" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML5!"></a>
    <p>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
    <img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" ></a>
    </p>                                          
  </div>

</body>
</html>